body {
    background-color: rgb(10, 14, 21);
    font-family: sans-serif;
    color: white;
}
input {
    color: white;
    font-size: 15px;
}

h1 {
    font-size: 50px;
}

a {
    margin: auto;
}

h3 {
    font-size: 30px;
}

p {
    text-align: justify;
}

.circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: none;
    margin-right: 15px;
}

.element-container {
    width: 40%;
    margin: 50px auto;
}

#container1 {
    margin: 7% 10%;
    line-height: middle;
}

#myimage {
    float: left;
    width: 450px;
    height: 450px;

    border-radius: 50%;
    margin-right: 30px;
}

#circle1 {
    background-color: #ef5350;
}

#element1 {
    color: #ef5350;
}

#circle2 {
    background-color: #00e676;
}

#element2 {
    color: #00e676;
}

#circle3 {
    background-color: #4fc3f7;
}

#element3 {
    color: #4fc3f7;
}

#userandsocialmedia {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

#education {
    float: right;
    width: 150px;
    height: 150px;
}